<!DOCTYPE html>
<html lang="es">

<head>
    <!DOCTYPE html>
    <html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Panel administrador</title>
        
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
        <!--Bootstrap-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Bulma Version 0.9.0-->
        <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
        <script src="https://kit.fontawesome.com/2506fe6418.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


        
        
    </head>
    
</head>

<body>
   
    <div class="">
        <div class="mx-6">
          <nav class="navbar is-info" role="navigation" aria-label="main navigation">
            <div class="navbar-brand m-2">
              <a class="navbar-item is-size-5" href="/">
                Miraflores Challenge
              </a>
              <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
    
            <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-end">
                <a id="general" class="navbar-item" href="/general">
                  General
                </a>
                <a id="mediciones" class="navbar-item" href="/mediciones">
                  Mediciones
                </a>
                <a id="index_graficos" class="navbar-item"  href="/index_graficos">
                  Gráficos
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link">
                    Mediciones según sensor
                  </a>
                  <div class="navbar-dropdown ">
                    <a class="navbar-item" style="color:black !important">
                      Humedad
                    </a>
                    <a class="navbar-item" style="color:black !important">
                      Intensidad lumínica
                    </a>
                    
                    <a class="navbar-item" style="color:black !important">
                      Humedad del suelo
                    </a>
                  </div>
                </div>
              </div>
    
              <!--
              <div class="navbar-end">
                <div class="navbar-item">
                  <div class="buttons">
                    <a class="button is-primary">
                      <strong>Sign up</strong>
                    </a>
                    <a class="button is-light">
                      Log in
                    </a>
                  </div>
                </div>
              </div>
              -->
            </div>
          </nav>
        </div>
      </div>
    
    <div class="mx-6">
            {% block contenido %}
            {% endblock %}
    </div>
    
    
    
    <script type = "text/javascript" src = "{{ url_for('static', filename = 'js/canvasjs.min.js') }}" ></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/change_activetab.js') }}" ></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/burger_menu.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/dropdown.js') }}"></script>
    
    
</body>

</html>