{% extends 'header.html' %}

{% block contenido %}
    <div class="container mt-5">
        <form action="{{ url_for('consulta_por_fecha') }}" method="POST">
            <div class="field">
                <label class="label">Fecha Inicio</label>
                <div class="control">
                    {{ form.dt(class='form-control') }}
                    
                </div>
            
            <div class="field mt-5">
                <label class="label">Fecha Fin</label>
                <div class="control">
                    {{ form.dt2(class='form-control') }}
                    
                </div>
               
            </div>
                
                <div class="control mt-5">
                    <button class="button is-link" type="submit">Graficar</button>
                  </div>
                    
                
            </div>
            
           
    </form>
    
    </div>
    
{% endblock %}
