{% extends 'header.html' %}

{% block contenido %}
    
    <form action="{{ url_for('consulta_por_fecha') }}" method="POST">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">Fecha Inicio</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        {{ form.dt(class='datepicker') }}
                    </div>
                </div>
                <div class="field-label is-normal">
                    <label class="label">Fecha Fin</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                        {{ form.dt2(class='datepicker') }}
                    </div>
                </div>

                <div class="control">
                    <button class="button is-link" type="submit">Graficar</button>
                  </div>
                    
                
            </div>
            
           
    </form>
    
{% endblock %}
